Fiona==1.8.20
Flask==2.0.2
gunicorn==20.1.0
flask-oidc==1.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
GeoAlchemy2==0.9.4
geopandas==0.9.0
psycopg2==2.9.1
py-eureka-client==0.10.0
pygeoif==0.7
pyproj==3.0.1
rasterio==1.2.10
Shapely==1.8.0
SQLAlchemy==1.4.26
SQLAlchemy-Utils==0.37.9
Werkzeug==2.0.2
WTForms==2.3.3

