<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" size="medium" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Updated(days)</th>
            </tr>
        </thead>
        <tbody *ngFor="let kpi of kpis">
            <tr>
                <td> <a routerLink="/kpis/{{kpi.id}}" [queryParams]="{editMode: false}">{{kpi.id}}</a></td>
                <td>{{kpi.code}}</td>
                <td>{{kpi.name}}</td>
                <td>{{kpi.description}}</td>
                <td>{{kpi.frequencyInDays}}</td>
                <td>
                    <button (click)="editKpi(kpi.id)" class="btn btn-primary" style="margin-right: 10px">Edit</button>
                    <button (click)="deleteKpi(kpi.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <div class="container container-fluid">
        <h5>
            <button (click)="createKpi()" class="btn btn-primary"> Create</button>
        </h5>
    </div>
</div>