<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="smarttamky">Smart Tamky</a>
    <a class="navbar-brand" routerLink="charts">Realtime Service</a>
    <a class="navbar-brand" routerLink="kpis/list">Kpi Service</a>
    <a class="navbar-brand" routerLink="userinfo">User Profile</a>
    <button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
    <button *ngIf="isLoggedIn == false" type="button" (click)="login()">Log in</button>
</nav>

<router-outlet></router-outlet>