<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="smarttamky">Smart Tamky</a>
    <a class="navbar-brand" href="charts">Realtime Service</a>
    <a class="navbar-brand" href="kpis/list">Kpi Service</a>
    <a class="navbar-brand" href="userinfo">User Profile</a>
    <button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
</nav>

<router-outlet></router-outlet>