<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }
    
    p {
        margin: 0;
    }
    
    .spacer {
        flex: 1;
    }
    
    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
    
    .card svg.material-icons path {
        fill: #888;
    }
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
    
    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
    
    .card-container .card:not(:last-child) {
        margin-right: 0;
    }
    
    .card.card-small {
        height: 16px;
        width: 168px;
    }
    
    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }
    
    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    
    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
    }
    
    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }
    
    .card.card.highlight-card span {
        margin-left: 60px;
    }
    
    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }
    
    a:hover {
        color: #125699;
    }
    
    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }
    
    footer a {
        display: flex;
        align-items: center;
    }
</style>

<div class="content" role="main">

    <h2>To Do List</h2>
    <p>What do you want to do with Smart Tamky?</p>
    <div class="card-container">
        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Looking for a Hospital</span>
      </button>

        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Search a Restaurant</span>
      </button>

        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Check my Bluezone</span>
      </button>

        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Book a Hotel Room</span>
      </button>

        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>View Transportation</span>
      </button>

        <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Find Utilities</span>
      </button>
    </div>
    <footer>
        Love Smart Tamky?&nbsp;
        <a href="#" target="_blank" rel="noopener"> Contact Us</a>
    </footer>
</div>