<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group mb-4">
                <li class="list-group-item" routerLinkActive="active" routerLink="kpi">Key Performance Indicators</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="classification">Classification Types</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="class">Classifications</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="category">Categories</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="measure">KPI Measurements</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="report">KPIs by Goals</li>
            </ul>
        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>