# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Deployment

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        architecture: x64
        cache: maven
    - name: Build with Maven
      run: mvn -B clean install --file pom.xml
    - name: Deploy To DigitalOcean
      env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock    
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{secrets.SSH_HOST}} 
        key: ${{secrets.SSH_PRIVATE_KEY}} 
        username: ${{ secrets.SSH_USERNAME }}     
        script: |        
          mkdir github 
          cd github 
          git clone git@github.com:thaihv/smartcity-platform.git 
          echo 'Deployment successful to Digital Ocean' 

        
